<!DOCTYPE html>
<html>
  <head>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>

  <body>
    <h1>Stations:</h1>
    <div id="app">
      <div class="logs" ref="refLogs">
        <div class="selcategory">
          <select v-model="selectedCategory">
            <option v-for="category in categories" :value="category">
              {{category}}
            </option>
          </select>
        </div>
        <div class="inprecord" v-for="station in catStations">
          <input
            class="inpname"
            type="text"
            v-model="station.name"
            placeholder="Name"
          />
          <input
            class="inpurl"
            type="text"
            v-model="station.url"
            placeholder="Url"
          />
        </div>
      </div>
    </div>

    <script>
      const { createApp, ref, onMounted, computed } = Vue;
      createApp({
        setup() {
          let stations = ref([]);
          let categories = ref(["Chill", "Jazz", "Pop", "Local", "Retro"]);
          selectedCategory = ref("Jazz");
          const catStations = computed({
            get() {
              return stations.value.filter(
                (a) => a.category === selectedCategory.value
              );
            },
          });
          onMounted(() => {
            stations.value.push({ category: "Jazz", name: "a", url: "b" });
            stations.value.push({ category: "Jazz", name: "a1", url: "b1" });
            console.log(stations);
          });
          return {
            stations,
            categories,
            catStations,
            selectedCategory,
          };
        },
      }).mount("#app");
    </script>
  </body>
</html>
